:root {
    --primary: #3b82f6;
    --danger: #ef4444;
    --warning: #f59e0b;
    --success: #10b981;
    --bg-body: #f3f4f6;
    --bg-card: #ffffff;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --sidebar-width: 260px;
    --header-height: 70px;
    --radius: 12px;
}

* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; } /* فونت وزیر یا یکما پیشنهاد می‌شود */

body {
    background-color: var(--bg-body);
    color: var(--text-main);
    overflow-x: hidden;
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }