@font-face {
    font-family: "iran";
    src: url("/font/Iranian\ Sans.ttf");
}
:root {
    --primary: #3b82f6;
    --bg-body: #f3f4f6;
    --sidebar-width: 260px;
    
}

* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; text-decoration: none;font-family: "iran"; }

body {  background: var(--bg-body); direction: rtl; }

/* سایدبار */
.sidebar {
    width: var(--sidebar-width);
    background: white;
    height: 100vh;
    position: fixed;
    right: 0; top: 0;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.nav-item {
    display: flex; gap: 10px; align-items: center;
    padding: 12px; color: #555; border-radius: 8px; margin-bottom: 5px;
    transition: 0.2s;
}
.nav-item:hover, .nav-item.active { background: #eff6ff; color: var(--primary); }

/* محتوای اصلی */
.main-content {
    margin-right: var(--sidebar-width);
    padding: 30px;
}

/* کارت‌ها (برای صفحه کلاس) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white; padding: 20px; border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-top: 4px solid transparent;
}
.card-blue { border-top-color: #3b82f6; }
.card-purple { border-top-color: #8b5cf6; }

.add-card {
    border: 2px dashed #ccc; display: flex; align-items: center; justify-content: center;
    cursor: pointer; min-height: 150px; flex-direction: column; color: #777;
}