<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/style.css'%}" />
</head>
<body>
    <script>
    const SITE_URLS = {
        home: "{% url 'home' %}",
        classes: "{% url 'profile_page' %}",
        exams: "{% url 'login' %}",
        excercise: "{% static 'images/' %}" ,
        memo:"",
        setting:""
    };
    </script>
    <script src="{% static 'js/layout.js' %}"></script>
</body>
</html>